html {
    background-color: #1F2224;
    font-family: 'Poppins', sans-serif;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculator-body{
    border-radius: 2.1875rem;
    border: 8px solid #171717;
    background: #111213;
    box-shadow: 0px 0px 16px 0px #1C1C1C;
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    gap: 3rem;
}
.display {
    width: 20.5rem;
    height: 10rem;
    border-radius: 0.8125rem;
    background: #191A1A;
    box-shadow: -1px -1px 4px 0px rgba(255, 255, 255, 0.11) inset, 1px 1px 7px 0px #000 inset;
}
.buttons-container {
    display: flex;
    width: 20.5rem;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}
.clear-buttons-container {
    display: flex;
    gap: 1rem;
    width: 20.5rem;
}
.other-buttons-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
button {
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
    font-size: 2.5rem;
    border-radius: 0.8125rem;
    background: #191A1A;
    box-shadow: 2px 3px 3px 0px #000, -2px -3px 3px 0px rgba(146, 146, 146, 0.17);
    color: #989898;
    display: flex;
    width: 4.375rem;
    padding: 0.28125rem 1.5rem 0.34375rem 1.5rem;
    justify-content: center;
    align-items: center;
}
button.operator {
    background: #584605;
    color: #000;
}
button.clear {
    background: #863000;
    color: #000;
    flex-grow: 1;
}
button.all-clear {
    background: #860000;
    color: #000;
    flex-grow: 1;
}